 <%- include("header") -%> 
  <div class="box" id="heading">
      <%= listtype %>
  </div>
  <div class="box">
    <% todolist.forEach(listitem=> { %>
      <form action="/delete" method="post">
        <div class="item">
          <input type="checkbox" class="checkbox" name="checkbox"
           value="<%=listitem.content%>" onchange="this.form.submit()">
          <p>
            <%= listitem.content %>
          </p>
        </div>
      </form>
      <% }) %>
  <form class="item" action="/" method="post">
    <input type="text" name="task" id="task" placeholder="New item " autofocus autocomplete="off">
    <button type="submit" name="list" value=<%= listtype %>>+</button>
  </form>
  </div>
  <%- include("footer") -%> 